<h1>Aqui o título teste página</h1>
Alguma coisa aqui tela detalhe do mamífero {{ animal }}

{# aqui um comentário #}

{% if animal == 'Gato' %}
    <br>
    Nossa, um <strong>Gato</strong>
{% endif %}

<br><br>

<ul>
{% for resposta in respostas %}
    <li>
        {{ resposta }}
    </li>
{% endfor %}
</ul>